<div id="blank-converter" class="row">
  <div class="col-sm-6">
    <div class="form-group">
        <textarea class="form-control editor" placeholder="Message" ></textarea>
    </div>
  </div>
  <div class="col-sm-6">
    <div id="blank-editor" class="editor">
    </div>
  </div>
</div>

<div  class="pull-right">
  <a class="btn btn-default" {{action "convert"}}>Convert</a>
  <a class="btn btn-default" {{action "cancel"}}>Cancel</a>
</div>


{{yield}}
