{{#each quizzes as |quiz|}}
<div class="scramble-block row">
  <div class="col-sm-4">
    <span>{{quiz.word}}</span>
  </div>
  <div class="col-sm-8">
    <span>{{quiz.answer}}</span>
  </div>
</div>
{{/each}}
