<div>
  <ul>
    <li><input type="text" size=10>&#58;<input type="text" size=40></li>
    <li><input type="text" size=10>&#58;<input type="text" size=40></li>
    <li><input type="text" size=10>&#58;<input type="text" size=40></li>
  </ul>
</div>

{{yield}}
