<div>
  <div class="row header">
    <div class="col-sm-1">
      <h5>#</h5>
    </div>
    <div class="col-sm-3">
      <h5>단어</h5>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-7">
      <h5>뜻</h5>
    </div>
  </div>

  {{#each quizzes as |quiz index|}}
  <div class="row scramble">
    <div class="col-sm-1">
      <span>{{add 1 index}}</span>
    </div>
    <div class="col-sm-3 scr-block">
      <span>&nbsp;</span>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-7 scr-block">
      <span>{{quiz.answer}}</span>
    </div>
  </div>
  {{/each}}

</div>
