@import "ember-bootstrap/bootstrap";

html, body{
  margin :0;
  padding: 0;
}

#odo-header {
  background-color: rgba(39,137,216,.95);
  border : 0;

  #logo {
    color: white;
  }
}

.odo-panel {
    margin-bottom: 25px;
}

.disqus{
  margin-top:125px;
}

.message{
  font-weight: bold;
}

// span.red{
//   color:palevioletred;
// }
//
// span.blue{
//   color:royalblue;
// }

#paint-bleach {
  img,canvas {
    vertical-align : baseline;//make it none
    min-width:300px;
    min-height:300px;
    max-width: 100%;
  }

  div.prop {
    width:100%;
    padding-top:5px;
    border-top: 3px solid #cacdd0;

    * {
      margin-right: 5px;
    }

    input[type="range"]{
      display: inline;
      width:40%;
      min-width: 142px;
      max-width: 250px;
      vertical-align: middle;
    }

    .btn{
      float:right;
    }
  }
}

#blank-converter{

  textarea {
    resize: none;
  }

  .editor{
    width: 100%;
    height: 500px;
    padding: 5px 10px;
  }

  #blank-editor {
    border: 1px solid #cacdd0;
    border-radius: 5px;
    // white-space:pre-line;// indent disabled
    // white-space:pre; // overflowed width doesn't cut automatically
    white-space:pre-wrap;
    overflow-y: auto;

    span{
      text-decoration: underline;
    }

    span:hover {
      cursor: pointer;
      background-color: pink;
    }
  }
}

#word-worksheet{
  .tab-content{
    min-height: 400px;
    padding: 5px 3px;
  }
}

#word-input {
  border-top: 3px solid #cacdd0;
  padding-top: 34px;

  li {
    list-style-type: none;
    padding-bottom: 5px;

    * {
      margin-left: 1.5%;
    }

    input {
      padding : 6px 10px;
      width: 41%;
      border: 1px solid #CFD7E6;
      border-radius: 4px;
    }

    span {
      cursor: pointer;
    }

  }//li
}

@media print{
  body * {
    visibility: hidden;
    position: absolute;
    top: 0px; right: 0px;
    width:100%;
  }

  .printing {
    visibility: visible;
    position: absolute;
    top:20px; left:0px;
  }
  .printing * {
    visibility: visible;
    position: static;
  }

  #blank-editor {
    border:none !important;
    border-top: 1px solid black !important;
    overflow-y: visible !important;

    span {
      text-decoration: none !important;
    }
  }

}
