@import "ember-bootstrap/bootstrap";

html, body{
  margin :0;
  padding: 0;
}

#odo-header {
  background-color: rgba(39,137,216,.95);
  border : 0;

  #logo {
    color: white;
  }
}



#paint-bleach {
  img,canvas {
    min-width:300px;
    min-height:300px;
    max-width: 100%;

    padding: 3px;
    margin-bottom: 5px;
    border-bottom: 3px #cacdd0 solid;

  }
}
