{{paint-bleach}}
<div class="clearfix"></div>
<div style="display:none;">
  <h4>Example:</h4>
  <img src="assets/bleach-sample.png" style="border:0.3px solid black;"/>
</div>

{{outlet}}

{{disqus-comments identifier=appCtrl.currentRouteName class="disqus"}}
